* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
   background-image: url('../img/jumbo.png');
   background-size: cover;
   height: 615px;
   padding: 18px;
}



body {
    font-family: Arial, Helvetica, sans-serif
}

.white {
    color: white;
    font-size: 18px;
    padding: 23px;
}


.top-header {
    display: flex;
    justify-content: center;
}

.padding-default {
   display: flex;
}


.bottom-header{
    display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 38px;
        padding-left: 433px;
        max-width: 1200px;
        text-align: -webkit-center;
        margin-left: 143px;
}

.container-button {
    display: flex;
}

.button-mac{
    padding: 13px;
    margin: 20px;
    margin-right: 100px;
    border-radius: 25px;
    background-color: white;
    color: black;
    font-size: 21px;
    border: 0px; 
}

.button-apri{
    padding: 14px;
    margin: 20px;
    margin-right: 14px;
    border-radius: 25px;
    background-color: #23272a;
    color: white;
    font-size: 21px;
    border: 0px;
}

.container-flex {
    display: flex;
    justify-content: center;
    width: 1600px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}


.container-1 {
    height: 500px;
    display: flex;
    justify-content: center;
    padding: 47px;
}

.importante {
    color: white;
    font-size: 55px;
}

.black {
    color: black;
    font-size: 18px;
}

.importante-black {
    color: black;
    font-size: 55px;
    margin-bottom: 30px;
}
/*colori section*/

.container-3 {
    background-color:white;
    padding: 110px;
}

.container-testo {
    display: flex;
    flex-direction: column;
    padding: 31px;
    max-width: 650px;
}

#img-1 {
    padding: 0px;
}

.debug main div .row {
    display: flex;
    justify-self: center;
}

.child {
   padding: 37px;
   max-width: 620px;
}

.gray {
    background-color: #f6f6f6;
}

.container-4 {
    height: 1000px;
    display: flex;
    justify-content: center;
    padding: 51px;
    background-color: #f6f6f6;
}


.green-container {
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stars{ background-image: url(../img/stars.svg);
    padding: 32px;
    background-size: auto;
    margin-bottom: 15px;
}

.button-footer{
    background-color: #7288da;
    color: white;
}

footer {
    background-color: #23272a;
}

.blue { 
    color: #7288da;
}

.top-footer {
  padding: 65px;
}


li > i {
    font-size: 20px;
    color: white;
    padding: 9px;
}
 

.container-footer {
    display: flex;
    justify-content: space-evenly;
    padding: 12px;
}

.no-numbers {
    list-style-type: none;
    padding-left: 0;
    padding-left: 0;
    padding: 35px;
}

#bandiera {
    width: 40px;
    height: 25px;
    padding: 0px;
}

.ita{
    padding: 8px;
    color: white;
}

.margin {
    margin-bottom: 12px;
}